# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Intellij project configuration
.idea
.run

# visual Studio Code configuration
.vscode

# misc temporary/backup files
.DS_Store
*~
.*~
.\#*
\#*\#
*.log
